 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background-color: gray;
 }

 h1 {
     font-family: "Dancing Script", cursive;
     font-optical-sizing: auto;
     font-weight: 700;
     font-style: normal;
     font-size: 60px;
     color: rgb(7, 91, 97);
 }

 header {
     margin-bottom: 60px;
     text-align: center;
 }

 header img {
     height: 80px;


 }


 header h1,
 img {

     display: inline;
     justify-content: center;
 }

 .container {
     display: inline-block;
     text-align: center;
     margin-left: 300px;
     justify-content: space-between;
     margin: 45px auto;
     font-size: 24px;
     font-weight: bold;
 }

 body {
     margin-top: 60px;
     margin-left: 30%;
 }

 form {
     display: inline-block;
     margin-bottom: 10px;
     text-align: center;
 }

 .button {
     text-align: center;
     font-size: 24px;
 }

 button {
     color: green;
     padding: 15px;
 }

 input {
     color: blanchedalmond;
     font-size: 20px;
     padding: 8px;
 }

 ::placeholder {
     color: white;
 }

 table {
     border-collapse: collapse;
     width: 100%;
     align-items: center;
     margin: auto;
 }

 th,
 td {
     text-align: center;
     padding: 8px;
 }

 th:nth-child(1) {
     padding-right: 5px;
 }